@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url(https://db.onlinewebfonts.com/c/751859ed48262433504a363c60cc08f8?family=Doppelganger-Display);
@import "tailwindcss";

@theme {
    --font-space: "Space Grotesk", monospace;
    --font-doppel: "Doppelganger-Display", monospace;
    --color-base: #1d1a2f;
    --color-dark-purple: #734f9a;
    --color-light-purple: #965fd4;
    --color-dark-green: #3f6d4e;
    --color-light-green: #8bd450;
  }