---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout title="Portfolio">
  <main class="relative">
	<!-- Home -->
    <section id="home" class="relative bg-base border-x-10 border-t-13 border-[#0e0c16] p-8 h-screen flex justify-center items-center">
      <!-- Contenedor de líneas verticales -->
      <div class="line-container absolute inset-0 flex flex-row justify-between items-stretch">
        {Array.from({ length: 10 }).map((_, i) => (
          <div key={i} class="line"></div>
        ))}
      </div>

      <!-- Contenido principal -->
      <div class="relative z-10">
        <img src="/images/Marcos Logo.svg" alt="Marcos Godoy" class="w-3xl">
      </div>
    </section>

	<!-- Projects -->
    <section class="relative bg-base border-x-10 border-[#0e0c16] p-8 overflow-hidden h-screen flex justify-center items-center">
		<div class="line-container absolute inset-0 flex flex-row justify-between items-stretch">
		  {Array.from({ length: 10 }).map((_, i) => (
			<div key={i} class="line"></div>
		  ))}
		</div>
		<!-- Contenido de la segunda sección -->
		<div class="relative z-10">
		  <h1 class="text-4xl text-white font-space">Sección 2</h1>
		</div>
	  </section>
  </main>
</Layout>
