---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import Time from '../components/Time.astro';
import Project from "../components/Project.astro";
---

<Layout title="Portfolio">
  <Time />
  <main class="relative">
    <!-- Home -->
    <section id="home" class="relative bg-base border-x-10 border-t-13 border-[#0e0c16] p-8 h-screen flex justify-center items-center">
      <!-- Contenedor de líneas verticales -->
      <div class="line-container absolute inset-0 flex flex-row justify-between items-stretch">
        {Array.from({ length: 10 }).map((_, i) => (
          <div key={i} class="line"></div>
        ))}
      </div>

      <!-- Contenido principal -->
      <div class="relative z-10">
        <img src="/images/Marcos Logo.svg" alt="Marcos Godoy" class="w-3xl">
      </div>
    </section>

    <section id="projects" class="relative bg-base border-x-10 border-[#0e0c16] p-8 h-[140vh]">
      <!-- Líneas de fondo -->
      <div class="line-container absolute inset-0 flex flex-row justify-between items-stretch">
        {Array.from({ length: 10 }).map((_, i) => (
          <div key={i} class="line"></div>
        ))}
      </div>
      
      <!-- Panel de proyectos -->
      <div class="relative z-10">
        <div class="p-8">
          <p class="text-9xl font-doppel text-light-purple pt-12 py-12">PROJECTS</p>
          <div class="">
            <Project titulo="Proyecto 1" imagen="https://static.nationalgeographic.es/files/styles/image_3200/public/nationalgeographic_1468962.webp?w=1600&h=900" enlace="https://ejemplo.com/proyecto1" />
            <Project titulo="Proyecto 2" imagen="https://inaturalist-open-data.s3.amazonaws.com/photos/129658776/original.jpg" enlace="https://ejemplo.com/proyecto2" />
          </div>
        </div>
      </div>
    </section>

    <!-- About Me Section -->
    <section id="about-section" class="relative bg-base border-x-10 border-b-13 rounded-b-[15vw] border-[#0e0c16] p-8 overflow-hidden h-[75vh]">
      <div class="line-container absolute inset-0 flex flex-row justify-between items-stretch">
        {Array.from({ length: 10 }).map((_, i) => (
          <div key={i} class="line"></div>
        ))}
      </div>
      <div class="relative z-10">
        <p class="text-9xl font-doppel text-light-purple pt-12">ABOUT ME</p>
        <div>
          <p class="text-justify w-xs text-white font-space">I'm Marcos Godoy, a Chilean Full-Stack programmer passionate about transforming ideas into unique digital experiences. With Astro and Python as my creative tools, I design solutions where code and innovation meet. Since I was 14 years old, programming has been my language to create new worlds, always guided by one question: What if we do it differently?</p>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="relative bg-dark-purple p-8 overflow-hidden h-screen">
      <div class="line-container absolute inset-0 flex flex-row justify-between items-stretch">
        {Array.from({ length: 10 }).map((_, i) => (
          <div key={i} class="line"></div>
        ))}
      </div>
    </section>
  </main>
</Layout>