---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---

<div class="w-24 opacity-0 group-hover:opacity-100 transition-opacity duration-300 absolute left-[500px] top-1/2 mt-[-60px]">
    <LottieAnimation src="/images/Share.json" autoplay="visible" class="" />
</div>