<nav class="fixed top-5 left-1/2 -translate-x-1/2 px-10 py-3 bg-base rounded-3xl shadow-[0_3px_10px_rgb(0,0,0,0.2)] z-20">
    <ul class="flex space-x-6 text-white font-space">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</nav>
