---
import AnimationSparkle from "../components/AnimationSparkle.astro";
---

<div id="horario" class="flex z-20 fixed bottom-5 font-space right-24 transition-colors duration-300 text-white" data-state="default" >
    <AnimationSparkle /> <p class="text-lg  font-space pr-24">Chile</p>
    <p id="current-time" class="text-lg  font-space"></p>
    <p class="text-lg  font-space pl-2">GMT-3</p>
    <a href="https://www.linkedin.com/in/marcos-godoy-151251331/" class="text-lg font-space pl-24">LINKEDIN</a>
    <a href="https://github.com/Zooflow" class="text-lg font-space pl-24">GITHUB</a>
</div>